
footer {
    background-image: url(../img/footer-bg.svg);
    background-color: #0F6458;
    padding-top: 100px;
}

.footer__top {
    padding-bottom: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.226);
}
.btn-dowloadApp2{
    background-color: white;
    border-radius: 30px;
}
.footer__top h2 {
    font-size: 60px;
    max-width: 600px;
    margin: 0 auto;
    color: white;
    margin-bottom: 30px;
}
.footer__top .btn {
    padding: 10px 28px;
    font-weight: 700;
}

.footer__bottom {
    padding-top: 60px;
    padding-bottom: 100px;
}

.footer__bottom li {
    list-style: none;
    margin: 10px 0;
}

.footer__bottom li a {
    color: white;
    transition: .2s;
}

.footer__bottom li a:hover {
    color: rgb(224, 180, 121);
}

.footer__copyright p {
    margin-bottom: 0;
    color: white;
}

.footer__copyright h4 {
    color: white;
}

.footer__copyright a {
    font-size: 30px;
    margin: 0 5px;
}

.footer__copyright a:hover {
    opacity: 0.5;
}

.footer__copyright a:nth-child(1) {
    color: #80afff
}

.footer__copyright a:nth-child(2) {
    color: rgb(255, 0, 0);
}

.footer__copyright a:nth-child(3) {
    color: rgb(0, 174, 255);
}

.footer__copyright a:nth-child(4) {
    color: crimson;
}
 